*.pyc
.idea
venv

frontend/node_modules
frontend/dist
frontend/.tmp
frontend/.sass-cache
frontend/app/bower_components
frontend/app/scripts/settings.js

backend/.db.sqlite3
backend/lightningtalks/local_settings.py
