@import '../bower_components/foundation/scss/foundation';

.header {
  @include grid-row();
}

.header__title {
  @include grid-column(6);
}

.content {
  @include grid-row();
}

.sessions {
  @include grid-column(12);
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.sessions__item {
  @include panel();
}