<!--
  TODO: TASK 5 - DELETE TALK
  - bind delete button with controller
  - add loader to delete button
-->
<div class="loader" ng-hide="talks.$resolved">
  <img class="loader__image" src="images/loading-spin.svg">
</div>
<div class="talks" ng-show="talks.$resolved">
  <ul class="talks__list">
    <li class="talks__item" ng-repeat="talk in talks">
      <div class="talks__actions">
        <a href="#/talks/{{ talk.id}}" class="talks__edit"><i class="fa fa-edit"></i> Edit</a>
        <button class="talks__delete"><i class="fa fa-remove"></i> Delete</button>
      </div>
      <h2>{{ talk.title }}</h2>
      <span class="talks__session">during <a href="#/sessions/{{ talk.session.id }}">{{ talk.session.name }}</a></span>
    </li>
  </ul>
  <p ng-show="talks.length === 0">No talks yet!</p>
  <a href="#/talks/create" class="talks__add"><i class="fa fa-plus-circle"></i> Add talk</a>
</div>
