<div class="session__header">
  <a href="#/" class="session__back"><i class="fa fa-arrow-circle-left"></i> Back</a>
  <h2>{{ session.name }} <small>{{ session.starts_at | date : "medium" }}</small></h2>
  <dl class="session__details">
    <dt class="session__term">Talk time</dt>
    <dd class="session__definition">{{ session.talk_time }} min</dd>
    <dt class="session__term">Talks</dt>
    <dd class="session__definition">{{ session.talks.length }}/{{ session.max_talks }}</dd>
  </dl>
</div>
<ul class="talks">
  <li class="talks__item" ng-repeat="talk in session.talks">
    <h4>{{ talk.title }}</h4>
  </li>
  <a href="#/talks/create" class="talks__add"><i class="fa fa-plus-circle"></i> Add talk</a>
</ul>